<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--/*/ <th:block th:include="fragments/head :: headerLinks"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: div"></th:block> /*/-->
<div class="main-container col1-layout">
    <div class="main">
        <div class="col-main">
            <div class="account-create">
                <div class="page-title">
                    <h1>Create an Account</h1>
                </div>
                <form action="/register" method="post" id="form-validate">
                    <div class="fieldset">
                        <input type="hidden" name="success_url" value=""/>
                        <input type="hidden" name="error_url" value=""/>
                        <h2 class="legend">Personal Information</h2>
                        <ul class="form-list">
                            <li class="fields">
                                <div class="customer-name">
                                    <div class="field name-firstname">
                                        <label for="firstname" class="required"><em>*</em>First Name</label>
                                        <div class="input-box">
                                            <input type="text" id="firstName" name="firstName" value=""
                                                   title="First Name" maxlength="255"
                                                   class="input-text required-entry"/>
                                        </div>
                                        <p th:if="${#fields.hasErrors('user.firstName')}" class="validation-advice"
                                           th:errors="*{user.firstName}">First Name is incorrect</p>
                                    </div>
                                    <div class="field name-lastname">
                                        <label for="lastname" class="required"><em>*</em>Last Name</label>
                                        <div class="input-box">
                                            <input type="text" id="lastName" name="lastName" value="" title="Last Name"
                                                   maxlength="255" class="input-text required-entry"/>
                                        </div>
                                        <p th:if="${#fields.hasErrors('user.lastName')}" class="validation-advice"
                                           th:errors="*{user.lastName}">Last Name is incorrect</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="field">
                                    <label for="email_address" class="required"><em>*</em>Email Address</label>
                                    <div class="input-box">
                                        <input type="text" name="email" id="email_address" value=""
                                               title="Email Address" class="input-text validate-email required-entry"/>
                                    </div>
                                    <p th:if="${#fields.hasErrors('user.email')}" class="validation-advice"
                                       th:errors="*{user.email}">Email is incorrect</p>
                                </div>
                                <div class="field">
                                    <label for="mobile">Mobile</label>
                                    <div class="input-box">
                                        <input type="text" name="mobile" id="mobile" value="" title="Mobile"
                                               class="input-text"/>
                                    </div>
                                    <p th:if="${#fields.hasErrors('user.mobile')}" class="validation-advice"
                                       th:errors="*{user.mobile}">Mobile number is incorrect</p>
                                </div>
                            </li>
                            <li>
                                <div class="field">
                                    <label>Gender</label>
                                    <div class="input-box">
                                        <input type="radio" name="gender" value="MALE" th:field="*{user.gender}"/> Male
                                        <input type="radio" name="gender" value="FEMALE" th:field="*{user.gender}"/> Female
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="education" class="required">Education</label>
                                    <div class="input-box">
                                        <select name="education" title="Education" id="education" class="select">
                                            <option th:each="education : ${educations}" th:value="${education}"
                                                    th:text="${education.key}"></option>
                                        </select>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="fieldset">
                        <h2 class="legend">Login Information</h2>
                        <ul class="form-list">
                            <li>
                                <label for="username" class="required"><em>*</em>Username</label>
                                <div class="input-box">
                                    <input type="text" name="username" id="username" value="" title="Username"
                                           class="input-text required-entry"/>
                                </div>
                                <p th:if="${#fields.hasErrors('user.username')}" class="validation-advice"
                                   th:errors="*{user.username}">Username is incorrect</p>
                            </li>
                            <li class="fields">
                                <div class="field">
                                    <label for="password" class="required"><em>*</em>Password</label>
                                    <div class="input-box">
                                        <input type="password" name="password" id="password" title="Password"
                                               class="input-text required-entry validate-password"/>
                                    </div>
                                    <p th:if="${#fields.hasErrors('user.password')}" class="validation-advice"
                                       th:errors="*{user.password}">Password is incorrect</p>
                                </div>
                                <div class="field">
                                    <label for="confirmation" class="required"><em>*</em>Confirm Password</label>
                                    <div class="input-box">
                                        <input type="password" name="confirmation" title="Confirm Password"
                                               id="confirmation" class="input-text required-entry validate-cpassword"/>
                                    </div>
                                    <p th:if="${#fields.hasErrors('user.password')}" class="validation-advice"
                                       th:errors="*{user.password}">Password is incorrect</p>
                                </div>
                            </li>
                        </ul>
                        <div id="window-overlay" class="window-overlay" style="display:none;"></div>
                        <div id="remember-me-popup" class="remember-me-popup" style="display:none;">
                            <div class="remember-me-popup-head">
                                <h3>What's this?</h3>
                                <a href="#" class="remember-me-popup-close" title="Close">Close</a>
                            </div>
                            <div class="remember-me-popup-body">
                                <p>Checking &quot;Remember Me&quot; will let you access your shopping cart on this
                                    computer when you are logged out</p>
                                <div class="remember-me-popup-close-button a-right">
                                    <a href="#" class="remember-me-popup-close button" title="Close"><span>Close</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="buttons-set">
                        <p class="required">* Required Fields</p>
                        <p class="back-link"><a th:href="@{login}" class="back-link">
                            <small>&laquo;</small>
                            Back</a></p>
                        <button type="submit" title="Submit" class="button"><span><span>Submit</span></span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/footer :: div"></th:block> /*/-->
</body>
</html>